
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #8758ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  border: 1px solid black;
  padding: 10px;
  text-align: center; 
  background: rgb(43, 220, 226);
}
.input1{
  outline: none;
  background: none;
  border: 1px solid #351a40;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  background: white;
  color:black;
}
.input2{
  outline: none;
  background: none;
  border: 1px solid #351a40;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color:black;
  
}
.input3{
  width: 100%;
  outline: none;
  background: none;
  border: 1px solid #351a40;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: black;
}

textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.submit-btn{
  background-color: #5eff58; 
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  
}


